doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    title Dado
    link(rel="stylesheet", href="css/styles.css")
  body
    header
      h1 making a Dice
    .container.dice
      .face-1
        .dot
      .face-2
        .dot
        .dot
      .face-3
        .dot
        .dot
        .dot
      .face-4
        .col
          .dot
          .dot
        .col
          .dot
          .dot
      .face-5
        .col
          .dot
          .dot
        .dot
        .col
          .dot
          .dot
      .face-6
        .col
          .dot
          .dot
        .col
          .dot
          .dot
        .col
          .dot
          .dot
  
