* {
  box-sizing: border-box; }

body {
  background: #ddd;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

h2 {
  color: black;
  text-align: center; }

.yin-yang {
  width: 150px;
  height: 150px;
  margin: 5rem auto;
  border-radius: 50%;
  background: linear-gradient(90deg, white 50%, black 50%);
  position: relative; }
  .yin-yang::before, .yin-yang::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    left: 25%; }
  .yin-yang::before {
    top: 0;
    background: radial-gradient(15px circle at 50% 50%, black 50%, transparent 50%), white; }
  .yin-yang::after {
    bottom: 0;
    background: radial-gradient(15px circle at 50% 50%, white 50%, transparent 50%), black; }
