doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    title Trucos CSS | 007
    link(rel="stylesheet", href="css/styles.css")
  body
    h2 Bordes con Box-Shadow
    .container
      .box-left-1 Border left
      .box-right-1 Border right
      .box-top-1 Border top
      .box-bottom-1 Border bottom

    .container
      .box-left-2 Border left
      .box-right-2 Border right
      .box-top-2 Border top
      .box-bottom-2 Border bottom
    
    .container
      .box-left-3 Close L R
      .box-right-3 Open L R
      .box-top-3 Close T B
      .box-bottom-3 Open T B
