doctype
html(lang="es")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
  title Computer
  link(rel="stylesheet", href="css/styles.css")
body
  h2.title Computer
  hr
  .computer
    p.text $ npm install  gulp-cli -g 
    p.text $ npm install  gulp -D 
    p.text $ touch gulpfile.js
    p.text $ gulp --help
